<div class="about-wrapper">
  <div class="about-container">
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1584295662/Captura_de_Pantalla_2019-10-07_a_la_s_18.25.38.png" alt="">
    <div>
      <p>I've completed Le Wagon coding bootcamp (Buenos Aires, Batch #198 - october 2018) to add technical skills to my creative profile (HTML, CSS, Bootstrap, Javascript, RubyOnRails)🚀<br>Passionate about the tech/startup environment, I have always been interested in creating and managing my own projects.<br>Indeed, I created and developed Miranda App, a language learning platform (2018/2019).<br>After this amazing entrepreneurial experience, I keep working as a freelance creating several projects. At the same time working as TA in Lewagon Buenos Aires helping new students during the bootcamp.<br>
      Currently working on developing "Rental Car", an app for booking luxury cars around the world and "Cotton Home" an e-commerce website.</p>
      <div class="about-links">
        <%= link_to 'https://www.linkedin.com/in/guillermovareladagnillo/' , class: 'btn btn-primary', target:"_blank" do %>
        <i class="fab fa-linkedin"></i> Linkedin
        <% end %>
        <%= link_to 'https://github.com/guillo16' , class: 'btn btn-dark', target:"_blank" do %>
        <i class="fab fa-github"></i> GitHub
        <% end %>
      </div>
    </div>
  </div>
  <!-- <div class="skills-container">
    <br>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1591135813/Vectary_texture.png" alt="" style="width: 100%;">
  </div> -->
</div>
