<div class="contact-icon-container d-md-flex justify-content-between text-center">
  <div class="icon-border">
    <i class="fab fa-whatsapp"></i>
    <h2>WHATSAPP</h2>
    <p>+54 9 3815873403</p>
  </div>
  <div class="icon-border">
    <i class="fas fa-map-marker-alt"></i>
    <h2>WHERE AM I?</h2>
    <p>Currently in Buenos Aires</p>
  </div>
  <div class="icon-border text-center">
    <i class="fab fa-skype"></i>
    <h2>SKYPE</h2>
    <p>guillo12</p>
  </div>
</div>

<style>

</style>
