<div class="navbar-container fixed-top">
  <div class="navbar">
    <div>
      <h2>GV</h2>
    </div>
    <div>
      <%= link_to 'About', '#about'  %>
      <%= link_to 'Contact', '#contact' %>
    </div>
  </div>
</div>
