<div class="portfolio-container">
  <div class="cards">
    <div class="card-title">
      <p>Colegio San Patricio</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'https://www.sanpatriciotucuman.edu.ar', target: '_blank' do  %>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_1085/v1590693502/Captura_de_Pantalla_2020-05-28_a_la_s_16.16.51.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Tilo Tienda Natural</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'https://www.tilotiendanatural.com.ar/', target: '_blank' do  %>
    <img src="https://res.cloudinary.com/dmbom1kyl/image/upload/c_scale,w_674/v1593701884/Captura_de_Pantalla_2020-07-02_a_la_s_11.57.34_dw1s5q.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Icono Instituto</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'http://www.iconoinstituto.com.ar/', target: '_blank' do  %>
    <img src="https://res.cloudinary.com/dye9yotct/image/upload/c_scale,w_651/v1612907292/Captura_de_Pantalla_2021-02-09_a_la_s_18.40.34_xhdbww.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>GARBO Servicios</p>
      <button class="btn-card online">ONLINE</button>
    </div>
    <%= link_to 'http://www.garboservicios.com.ar', target: '_blank' do %>
    <img src="https://res.cloudinary.com/dye9yotct/image/upload/c_scale,w_882/v1612907285/Captura_de_Pantalla_2021-02-09_a_la_s_18.41.38_ykolbv.jpg" alt="">
    <% end %>
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Rental Car</p>
      <button class="btn-card process">IN PROCESS</button>
    </div>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_668/v1591111131/Captura_de_Pantalla_2020-06-02_a_la_s_12.17.47.jpg" alt="">
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Cotton Home</p>
      <button class="btn-card process">IN PROCESS</button>
    </div>
    <img src="https://res.cloudinary.com/dye9yotct/image/upload/c_scale,w_923/v1612909466/Captura_de_Pantalla_2021-02-09_a_la_s_19.22.31_wxtf5h.jpg" alt="">
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Lamebo</p>
      <button class="btn-card offline">OFFLINE</button>
    </div>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_576/v1559070031/Captura_de_Pantalla_2019-05-28_a_la_s_15.51.48.jpg" alt="">
  </div>
  <div class="cards">
    <div class="card-title">
      <p>Ski the World</p>
      <button class="btn-card offline">OFFLINE</button>
    </div>
    <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/c_scale,w_668/v1591110627/Captura_de_Pantalla_2020-06-02_a_la_s_11.19.21.jpg" alt="">
  </div>
</div>
