<div class="skill-title text-center">
  <h2>WEB DEVELOPMENT</h2>
</div>
<div class="skill-wrapper">
  <div class="d-flex justify-content-center">
    <div class="skill-icon">
      <p><i class="fab fa-html5"></i></p>
      <p><i class="fab fa-css3-alt"></i></p>
      <p><i class="fab fa-js-square"></i></p>
      <p><i class="fab fa-react"></i></p>
      <p><i class="fab fa-bootstrap"></i></p>
      <p><i class="fab fa-cc-stripe"></i></p>
    </div>
    <div class="skill-content">
      <p>HTML</p>
      <p>CSS</p>
      <p>JAVASCRIPT</p>
      <p>REACT</p>
      <p>BOOTSTRAP</p>
      <p>STRIPE</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="skill-icon">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1591212305/Ruby_on_Rails-75a72f7aa48f33c9cbde13a8f7b11ce8b0ab87c56b369a5c39c34f7e899bcea3.png" alt="">
      <p><i class="far fa-gem"> </i></p>
      <p><i class="fas fa-database"></i></p>
      <p><i class="fab fa-git-square"></i></p>
      <p><i class="fab fa-github-square"></i></p>
      <p><svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="white"/>
        <path d="M23.38 3.00002H6.16002C5.876 2.9987 5.59452 3.05367 5.33186 3.16175C5.0692 3.26983 4.83056 3.42888 4.62972 3.62972C4.42888 3.83056 4.26983 4.0692 4.16175 4.33186C4.05367 4.59452 3.9987 4.876 4.00002 5.16002V24.841C3.99883 25.125 4.0539 25.4063 4.16204 25.6689C4.27018 25.9314 4.42925 26.1699 4.63008 26.3707C4.8309 26.5714 5.0695 26.7304 5.3321 26.8384C5.59469 26.9464 5.87608 27.0013 6.16002 27H23.38C23.6639 27.0012 23.9452 26.9462 24.2076 26.8381C24.4701 26.73 24.7086 26.571 24.9093 26.3703C25.11 26.1696 25.269 25.9311 25.3771 25.6686C25.4852 25.4062 25.5402 25.1249 25.539 24.841V5.16002C25.5405 4.87605 25.4856 4.59459 25.3777 4.33194C25.2697 4.06928 25.1107 3.83063 24.91 3.62978C24.7092 3.42893 24.4706 3.26986 24.208 3.16176C23.9454 3.05367 23.664 2.9987 23.38 3.00002V3.00002ZM24.34 24.841C24.34 25.38 23.919 25.801 23.38 25.801H6.16002C6.03351 25.8026 5.90795 25.7789 5.79075 25.7312C5.67355 25.6836 5.56708 25.6129 5.47761 25.5234C5.38814 25.434 5.31749 25.3275 5.26982 25.2103C5.22214 25.0931 5.19841 24.9675 5.20002 24.841V5.16002C5.20002 4.62002 5.62002 4.19902 6.16002 4.19902H23.38C23.5065 4.19768 23.6321 4.22163 23.7492 4.26946C23.8664 4.3173 23.9728 4.38805 24.0622 4.47757C24.1516 4.56709 24.2223 4.67357 24.27 4.79076C24.3177 4.90796 24.3415 5.0335 24.34 5.16002V24.841ZM9.40002 23.399L12.1 21L9.40002 18.6V23.399ZM19.12 13.68C18.641 13.2 17.741 12.6 16.241 12.6C14.62 12.6 12.94 13.021 11.741 13.44V6.60002H9.34102V16.98L11.021 16.2C11.021 16.2 13.781 14.94 16.181 14.94C17.381 14.94 17.681 15.6 17.681 16.2V23.4H20.081V16.2C20.14 16.021 20.14 14.699 19.12 13.68V13.68ZM15.94 10.5H18.34C19.42 9.24002 19.96 7.97902 20.14 6.60002H17.741C17.5 7.97902 16.9 9.24002 15.94 10.5Z" fill="black"/>
      </svg></p>
    </div>
    <div class="skill-content">
      <p>RAILS</p>
      <p>RUBY</p>
      <p>SQL</p>
      <p>Git</p>
      <p>GitHub</p>
      <p>HEROKU</p>
    </div>
  </div>
</div>
<div class="skill-title text-center">
  <h2>DESING</h2>
</div>
<div class="d-flex justify-content-center">
  <div class="skill-icon text-center">
    <p><i class="fab fa-figma"></i></p>
    <p class="skill-p">UX/UI</p>
    <p class="skill-p">PRODUCT</p>
  </div>
  <div class="skill-content">
    <p>FIGMA</p>
    <p>DESING</p>
    <p>MANAGER</p>
  </div>
</div>
