<div class="skill-title text-center">
  <h2>WEB DEVELOPMENT</h2>
</div>
<div class="skill-wrapper">
  <div class="d-flex justify-content-center">
    <div class="skill-icon">
      <p><i class="fab fa-html5"></i></p>
      <p><i class="fab fa-css3-alt"></i></p>
      <p><i class="fab fa-js-square"></i></p>
      <p><i class="fab fa-react"></i></p>
      <p><i class="fab fa-bootstrap"></i></p>
      <p><i class="fab fa-cc-stripe"></i></p>
    </div>
    <div class="skill-content">
      <p>HTML</p>
      <p>CSS</p>
      <p>JAVASCRIPT</p>
      <p>REACT</p>
      <p>BOOTSTRAP</p>
      <p>STRIPE</p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="skill-icon">
      <img src="https://res.cloudinary.com/dw7ox75dg/image/upload/v1591212305/Ruby_on_Rails-75a72f7aa48f33c9cbde13a8f7b11ce8b0ab87c56b369a5c39c34f7e899bcea3.png" alt="">
      <p><i class="far fa-gem"> </i></p>
      <p><i class="fas fa-database"></i></p>
      <p><i class="fab fa-git-square"></i></p>
      <p><i class="fab fa-github-square"></i></p>
      <p><i class="fab fa-korvue"></i></p>
    </div>
    <div class="skill-content">
      <p>RAILS</p>
      <p>RUBY</p>
      <p>SQL</p>
      <p>Git</p>
      <p>GitHub</p>
      <p>HEROKU</p>

    </div>
  </div>
</div>
<div class="skill-title text-center">
  <h2>DESING</h2>
</div>
<div class="d-flex justify-content-center">
  <div class="skill-icon text-center">
    <p><i class="fab fa-figma"></i></p>
    <p class="skill-p">UX/UI</p>
    <p class="skill-p">PRODUCT</p>
  </div>
  <div class="skill-content">
    <p>FIGMA</p>
    <p>DESING</p>
    <p>MANAGER</p>
  </div>
</div>
