<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="main-container text-xs-center">
    <h2>GUILLERMO VARELA</h2>
    <p>Love desing</p>
    <div class="button-container">
      <%= link_to 'CONTACT','#', class: 'btn-main'  %>
      <%= link_to 'ABOUT','#', class: 'btn-secondary'  %>
    </div>
  </div>
</div>
<section id="portfolio">
  <%= render 'shared/profile_cards' %>
</section>
