.btn-main {
  padding: 8px 24px;
  margin-left: 8px;
  background-color: #5A31F4;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: 3px solid #5A31F4;
  width: 200px;
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.9;
  }
}

.secondary {
  background-color: transparent;
  border: 3px solid white;

}

.btn-card {
 font-size: 12px;
 border-radius: 6px;
 border: none;
 margin-left: 8px;
 color: white;
}

.offline {
  background-color: #E50914;
}

.online {
  background-color: #005A2B;
}

.process {
  background-color: #3E6BE2;
}
