.forms {
  width: 500px;
  margin: 50px auto;
  padding: 40px;
  background-color: lightgrey;
  border-radius: 8px;
  p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
  }
}

.contact-icon-container {
  width: 90%;
  margin: 50px auto;
}
.icon-border {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 10px;
  h2 {
    font-size: 18px;
    margin-bottom: 2px;
    color: grey;
  }
  i {
    font-size: 24px;
  }
  p {
    margin-bottom: 0px;
  }
}

@media(max-width: 600px) {
  .forms {
    width: 90%;
    padding: 0px;
    background-color: transparent;
    p {
      margin-bottom: 0px;
    }
  }

  .contact-icon-container {
    margin: 30px auto;
  }

  .icon-border {
    margin-bottom: 20px;
    h2 {
      font-size: 18px;
      margin-bottom: 2px;
      color: grey;
    }
    i {
      font-size: 24px;
    }
    p {
      margin-bottom: 0px;
    }
  }
}
