.navbar-container {
  background: transparent;
}

.navbar {
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
  h2 {
    font-weight: bold;
    color: white;
  }
  a {
    margin-left: 10px;
    color: white;
    font-weight: bold;
  }
}

.navbar-container-black {
  background-color: rgba(20, 20, 20, 0.9);
  border-bottom: 1px solid grey;

}
